<div *ngIf="found == true" class="component">
  <div class="navbuttons">
    <a class="linkbutton" [routerLink]="['/']">Home</a>
  </div>
  <h6>Edit this Movie Title.</h6>
  <form (submit)="updateMovie()">
    <p *ngFor="let error of errors"> {{ error }} </p>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" name="mtitle" required minlength="3" [(ngModel)]="editedMovie.mtitle" #movietitle="ngModel">
    </div>
    <button [routerLink]="['/']" class="btn canc">Cancel</button>
    <button class="btn sub" *ngIf="movietitle.valid">Submit</button>
  </form>
</div>