<div class="component">
  <div class="navbuttons">
    <a class="linkbutton" [routerLink]="['/']">Home</a>
    <a class="linkbutton" [routerLink]="['/write/'+authorId]">Add a Review!</a>
  </div>
  <h6>Reviews for <span class="filmtitle">{{ thisAuthor.aname }}</span></h6>
  <p *ngFor="let error of errors"> {{ error }} </p>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th class="quotespace">Review</th>
        <th>Votes</th>
        <th class="buttons">Actions available</th>
      </tr>
      <tr *ngFor="let quote of thisAuthor.quotes">
        <td class="quotespace monospace">"{{ quote.quote }}"</td>
        <td>{{ quote.votes }}</td>
        <td class="buttons">
          <button (click)="voteUp(quote._id)" class="btn btn-view">Vote up</button>
          <button (click)="voteDown(quote._id)" type="button" class="btn btn-edit">Vote down</button>
          <button (click)="deleteQuote(quote._id)" type="button" class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>