<div class="component">
  <div class="navbuttons">
    <a [routerLink]="['/new']" class="linkbutton">Add a Movie to be Reviewed!</a>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Movie</th>
        <th class="buttons">Actions available</th>
      </tr>
      <tr *ngFor="let movie of allMovies">
        <td class="filmtitle">{{ movie.mtitle }}</td>
        <td class="buttons">
          <button [routerLink]="['/reviews/'+movie._id]" class="btn btn-view">View Reviews</button>
          <button [routerLink]="['/edit/'+movie._id]" type="button" class="btn btn-edit">Edit</button>
          <button (click)="deleteMovie(movie._id)" type="button" class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>