<div class="component">
  <div class="navbuttons">
    <a class="linkbutton" [routerLink]="['/']">Home</a>
  </div>
  <h6>Add a New Movie.</h6>
  <p *ngFor="let error of errors"> {{ error }} </p>
  <form (submit)="createMovie()">
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" name="name" required minlength="3" [(ngModel)]="newMovie.mtitle" #movietitle="ngModel"
      />
    </div>
    <button [routerLink]="['/']" class="btn canc">Cancel</button>
    <button class="btn sub" *ngIf="movietitle.valid">Submit</button>
  </form>
</div>